<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>MIOES: Tu carta digital</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel=icon href=app/icons/icon-72x72.png sizes="72x72" type="image/png">
<link rel=icon href=app/icons/icon-192x192.png sizes="192x192" type="image/vnd.microsoft.icon">
<link rel=icon href=app/icons/icon-128x128.png sizes="128x128 512x512 8192x8192 32768x32768">
<link rel=icon href=app/icons/icon-192x192.png sizes="any" type="image/png">
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="/scripts/jquery.star-rating.js"></script>
<script src="/scripts/foryou.js"></script>
</head>
  
<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">

    <div id="preloader"><div class="spinner-border color-highlight" role="status"><img id="imgLoaderContainer" src="/app/icons/preloader.gif" width="100px" height="100px"></div></div>

<div id="page">


    <%- include("footer.ejs", {qrCode: false, home: false, restaurants: true}) %>
    <div class="card-top m-3">
        <div class="notch-clear">
            <a data-back-button href="#" class="icon icon-xs bg-white color-black rounded-m"><i class="fa fa-angle-left"></i></a>
        </div>
        <img style="width: 50%;
        height: 50%;
        margin-top: -20%;
        margin-left: 26%;"src="images/social/header.png">
    </div>
    <div class="page-content header-clear-medium" id="mainContainer"></div>
    <div class="page-content header-clear-medium" id="suggestedContainer"></div>
			</div>



    <!-- End of Page Content-->
    <!-- All Menus, Action Sheets, Modals, Notifications, Toasts, Snackbars get Placed outside the <div class="page-content"> -->

	<!-- Menu Reply -->
	

	<!-- Menu Upvotes -->
	


<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
