<!DOCTYPE html>
<html class="csstransforms csstransforms3d csstransitions" lang="en"><head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>MIOES: Tu carta digital</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MIOES es la carta digital con más funcionalidades de todo el mercado.">
    <meta name="keywords" content="carta digital menu comida restaurante código qr">
    <meta name="author" content="MIOES">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/app/icons/favicon.ico">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">

    <!-- ICONS -->
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="fonts/extra/ilmosys-icon.css">
    <link rel="stylesheet" href="fonts/extra/swipebox.min.css">

    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
    <script src="/scripts/loader.js"></script>
    <script src="/scripts/custom.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">

    <!-- THEME / PLUGIN CSS -->
    <link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" href="styles/landing.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body id="home" class="theme-light" data-highlight="highlight-red">
    <div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    <div class="body" id="page" >
        <!-- HEADER -->
        <header>
            <nav class="navbar-inverse navbar-lg navbar-fixed-top" id="headerNav" style="background: transparent; box-shadow: none;">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand brand"><img src="app/logo/logo.png" alt="logo" style="height: 39px !important; border-radius:5px;"></a>
                    </div>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

                    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 0px;">
                        <ul class="nav navbar-nav navbar-right navbar-login">
                            <li>
                                 <a href="mail:service@mioes.app" style="color: rgb(168, 45, 73);"><span class="icon-call"></span>service@mioes.app</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div id="footer-bar" class="footer-bar-1">
            <a href="/" class="active-nav"><i class="fa fa-home"></i><span>Inicio</span></a>
            <a href="/scanqr" id="qr-init" class="qr-init"><i class="fa fa-qrcode"></i><span>Escanear QR</span></a>
            <a onclick="window.location = '/foryou'"><i class="fa fa-heart"></i><span>Para ti</span></a>
            <a href="/search"><i class="fa fa-search"></i><span>Buscar</span></a>
            <a href="#" data-menu="menu-settings"><i class="fa fa-cog"></i><span>Configuración</span></a>
        </div>
            


        <!-- Home -->
        <div class="intro intro3" data-src="images/landing/3.jpg">
            <div class="container">
                <div class="row center-content">
                    <div class="col-md-5 col-sm-6">
                        <h3 style="line-height: normal !important;">MIOES: Tu carta digital</h3>
                        <p>Simplemente escanea un código QR.</p>
                        <div class="space30"></div>
                        <div class="dual-btn">
                            <a href="#explore" class="btn btn-lg btn-primary page-scroll">Empezar ahora <span class="fa fa-shopping-basket"></span></a> &nbsp; &nbsp;
                        </div>

                    </div>
                    <div class="col-md-7 col-sm-6 no-padding">
                    </div>
                </div>
            </div>
        </div>

          <!-- Stats -->



        <!-- About Us -->
        <div id="about" class="container">
            <!-- About Section 1 -->
            <div class="intro intro-about2">
                <div class="container">
                    <div class="row center-content">
                        <div class="col-md-7 ">
                            <img src="images/landing/1.png" class="pull-left img-responsive" alt="">
                        </div>
                        <div class="col-md-5">
                            <h3>Somos MIOES</h3>
                            <p>La mejor carta digital. Ayuda a tus camareros y mejora la rapidez de tu establecimiento</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- About Section 2 -->
            <div class="intro intro-about2">
                <div class="container">
                    <div class="row center-content">
                        <div class="col-md-5">
                            <h3>Funcionalidades incontables</h3>
                            <p>Con nuestro servicio, tu establecimiento podrá tomar pedidos sin que ningún camarero tenga que ir a preguntar, el cocinero recibe la información directamente ¡Y los clientes estan más contentos por la rapidez del servicio!</p>
							
							<ul class="list">
							<li><i class="fa fa-check"></i> Gratis los primeros 3 meses</li>
							<li><i class="fa fa-check"></i> Panel de administrador completo</li>
							<li><i class="fa fa-check"></i> Crea tu propia carta</li>
                            <li><i class="fa fa-check"></i> Generador de códigos QR</li>

							</ul>
							
							<div class="space30"></div>
							<a href="#" class="btn btn-lg btn-primary">Saber más <i class="icon-arrow-right"></i></a>
                        </div>
                        <div class="col-md-7">
                            <img src="images/landing/2.png" class="pull-left img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space80"></div>




        <div class="space100"></div>

        <!-- Testimonials -->


        <!-- Faq -->

        <!-- PARALLAX -->

        <!-- PARALLAX -->
        <section class="text-center">
            <div class="cta-wrap subscribe-elt2 ">
                <div class="container">
                    <div class="col-md-12">
                        <h1>¡Date prisa! Suscríbete a nuestra newsletter<br> y consigue un <span> 25% de descuento en tu primer pedido</span></h1>
                        <p>Sólo este mes.</p>

                        <form class="intro-newsletter" id="invite">
                            <div class="row">
                                <div class="col-md-8">
                                    <input class="e-mail" placeholder="Tu correo electrónico" name="email" id="eaddress" type="email">
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-block" type="submit">Suscribirme</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="space80"></div>
		
		
		

</div>
<div id="menu-settings" class="menu menu-box-bottom menu-box-detached">
    <div class="menu-title mt-0 pt-0"><h1>Configuración</h1><p class="color-highlight">MIOES a tu gusto.</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
    <div class="divider divider-margins mb-n2"></div>
    <div class="content">
        <div class="list-group list-custom-small">
            <a href="#" data-toggle-theme data-trigger-switch="switch-dark-mode" class="pb-2 ms-n1">
                <i class="fa font-12 fa-moon rounded-s bg-highlight color-white me-3"></i>
                <span>Modo oscuro</span>
                <div class="custom-control scale-switch ios-switch">
                    <input data-toggle-theme type="checkbox" class="ios-input" id="switch-dark-mode">
                    <label class="custom-control-label" for="switch-dark-mode"></label>
                </div>
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>




</body></html>